div.furniture--button
    ul
        li
            button.furitureBtn BED
        li
            button.furitureBtn CHAIR
        li
            button.furitureBtn CUSHION
        li
            button.furitureBtn LAMP
        li
            button.furitureBtn MIRROR
        li
            button.furitureBtn SOFA
        li
            button.furitureBtn TABLE 