header.header 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    .header__column 
        a(href=routes.home) Home &nbsp

    .header__column 
        ul  
            li 
                a(href= `/images${routes.upload}`) Upload &nbsp;
                br
                br
                br