.capture-container {
  width: 100%;
  max-width: 320px;
  margin-bottom: 50px;
  video {
    background-color: rgb(51, 51, 51);
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    height:240px;
  }
  button{
    cursor: pointer;
    border: 1px solid black;
  }
  button:hover{
    color: black;
    background-color: white;
    //outline: 4px;
    border: 1px solid black;
  }
}

