.shopping--list{
    //width: 90%;
    justify-content: center;
    margin: auto;
    .shopping--box{
        height: 85px;
        padding-bottom: 5px;
    }
}
.shopping--info{
    
    width: 100%;
    //border: 1px;
    background-color: white;
    color: black;//rgba(143, 225, 239, 1);
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: left;
    .thumbnail{
        float:left;
        img{
            width: 80px;
            height: 80px;
            border-radius: 5px;
            margin-right: 5px;
        }
    }
    .title{
        padding: 5px 0px 5px 0px;
    }
    .price{
        font-size: 14px;
        margin-left: 88px;
        margin-top: 1px;
        color: #3471db;
        .ps{
            padding: 0px 1px 1px 0px;
            float: left;
        }
        //text-align: right;
    }
}
    
.shopping--site{
    margin-top: 10px;
}