extends layouts/main
include mixins/imageBlock 

block content 
    .form-container
        ul.shopping--list
            li.shopping--box
                button.shopping--button
                    .thumbnail 
                        img(src="/uploads/images/26580952052429334_342193540.png")
                    .shopping--info
                        p
                            a(href="https://smartstore.naver.com/dongsuhfurniture/products/5693796956?NaPm=ct%3Dl8iut6nk%7Cci%3D0JjQ0e1QH35xJpAdM1n5%7Ctr%3Dpla%7Chk%3D72a42ee0a89b79bf3c47feca445e4f08608f5639") 동서가구 LV 빈티지 엔틱 로맨틱 안방 가죽 퀸 침대프레임 Q
                            .price    
                                p ① 199,000원 
                                p ② 342,000원