extends layouts/main
include mixins/imageBlock 

block content 
    .images 
        each item in images 
            +imageBlock({
                id: item.id,
                title: item.title, 
                imageFile: item.fileUrl
            })