extends layouts/main
include mixins/imageBlock 

block content 
    .form__container 
        form(action=`/images${routes.id}`, method="post", enctype="multipart/form-data")
            .fileUpload 
                label(for="file") ImageFile
                input(type="file", accept="image/*", name="imageFile", placeholder="image")
            
            input(type="submit", value="Test")