extends layouts/main

block content 
    .form__container 
        form(action="/images/upload", method="post")
            input(type="file", accept="image/*", name="image", placeholder="image")
            
            input(type="submit", value="Test")