extends layouts/main
include mixins/imageBlock 

block content 
    .form-container
        .capture-container#jsCaptureContainer
            video#jsImagePreview
            button#jsCaptureBtn 
                .i.fa-solid.fa-camera
            canvas#takePhotoCanvas 
        .result
        form(action=`/images/upload`, method="post", enctype="multipart/form-data")
            div.fileUpload 
                input(type="file", accept="image/*", id="take-picture", name="file", placeholder="image")
                input(type="submit", value="Test")
            