extends layouts/main
include mixins/imageBlock 

block content 
    .form-container 
        .capture-container
            image#jsImagePreview
            button#jsCaptureBtn Start Capture
        form(action=`/images${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload 
                label(for="file") ImageFile
                input(type="file", accept="image/*", id="take-picture", name="imageFile", placeholder="image", onchange="setThumbnail(event);")
                
                input(type="button", value="getCamera", onclick="{getCamera()}")
                .image__container
                script(type='text/javascript').
                    const setThumbnail = (event) => { 
                        const reader = new FileReader(); 
                        reader.onload = (event) => {
                            const img = document.createElement("img"); 
                            img.setAttribute("src", event.target.result); 
                            document.querySelector(".image__container").appendChild(img); 
                        }; 
                        reader.readAsDataURL(event.target.files[0]); 
                    };
            input(type="submit", value="Test")
            