.home-info__container{
    .home__info{
        font-family: 'ChosunBg';
        text-align: center;
        line-height: 60px;
        color: black;
        font-size: 40px;
    }
    
    .buisness-info__container{
        font-family: 'S-CoreDream-2ExtraLight';
        color: black;
        text-align: center;
        line-height: 20p;
        font-size: 11px;
        letter-spacing: 8px;
        word-spacing: 9px;
    }   
    
}

.upload__link{
    font-family: 'ChosunSg';
    text-align: center;
    line-height: 20px;
    color: black;
}