.page-info__container{
    .page__info{
        font-family: 'ChosunBg';
        text-align: center;
        line-height: 60px;
        color: black;
        font-size: 23px;
    }
    
    
}
.image-style__container{
    div.box{
        height: 200;
    }
    
    img{
        display: block;
        margin: 0px auto;
        width: 250px;
    }
}
.image-information__container{
    font-family: 'KoPubDotumMedium';
    color: black;
    text-align: center;
    
    h5{
        line-height: 30px;
    }
    h6{
        line-height: 30px;
    }
    
}

.furniture-button{
    margin-left: auto;
    margin-right: auto;
    margin-block: 1em 2em;
    font-family: 'KoPubDotumMedium';
    font-size: 20px;
    max-width: 300px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 150%;
    color: white;
    background-color: #3498db;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}
